.hero {
    margin-top: 100px;
  
}
.hero-text{
    background-color: blueviolet;
    padding: 100px;
    border-radius: 20px;
}


.hero-text h1{
    font-size: 4rem;
    color: rgb(239, 215, 240);
}
.hero-text p {
    margin-top: 40px;
    color: aliceblue;
}
.btn-violet {
    background-color: rgb(226, 43, 104);
    color: azure;
    margin-top: 40px;
}

.hero-img img {
    margin-top: 50px;
    margin-left: -50px;
    width: 120%;
    height: 80%;
    box-shadow: 1px 2px 3px salmon;
}
.section2 {
    margin-top: 150px;
}
.section-img img {
    width: 100%;
    height: 100%;
}
.section-text {
    margin-top: 20px;
}
.section-text h2 {
    margin-bottom: 20px;
}
.card-section {
    margin-top: 50px;
}
.card2 {
    margin-top: 20px;
}
.contact {
    margin-top: 60px;
    padding-left: 30px;
}
.bg-purple {
    background-color: blueviolet;
    color: rgb(186, 189, 192);
    padding: 40px;
}
@media only screen and (max-width: 360px) {
    
    .hero-text h2 {
        font-size: 2rem;
        color: blueviolet;
    }
    
    .hero-text h1{
        font-size: 2rem;
        color: rgb(220, 43, 226);
    }
    
  
}